<footer class="page-footer light-blue darken-4">
    <div class="container">
      <div class="row">

        <div class="col l2 m2 s2">
          <%= image_tag "avatar.jpg", class: "square responsive-img" %>
        </div>

        <div class="col l4 s12">
          <h5 class="white-text">SkyUni</h5>
          <p class="grey-text text-lighten-4">There is no failure in this world, there're only successful people and those who refuse to be successful. <br> Don't be the second.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Social</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">cloud_queue</i> Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">cloud_queue</i> Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">cloud_queue</i> LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 Copyright SkyUni
      <%= link_to "About Us", pages_about_path, :class => "grey-text text-lighten-4 right" %>
      </div>
    </div>
</footer>
