<h3 style="color : #01579b">About SkyUni</h3>
<div class="col s12">
  <div class="card z-depth-3">
    <div class="card-content">
      <div class="row">
        <div class="col m6">
          <a class="twitter-timeline" data-height="500" data-theme="light" data-link-color="#FAB81E" href="https://twitter.com/trinhcrypto?ref_src=twsrc%5Etfw">Tweets by SkyUni</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col m6">
          <div class="card-panel white z-depth-1">
              <div class="row valign-wrapper">
              <div class="col m3">
                <%= image_tag "avatar.jpg", class: "square responsive-img" %>
              </div>
              <div class="col m9">
                <span style="color : #01579b">  "If you don't build your dream, someone will hire you to help build theirs." <br> "You'll never know what's gonna happen in the future, but what needs to be done we must see it done." </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
