@import "materialize/components/color-variables";
$primary-color: color("light-blue", "darken-4") !default;
$secondary-color: color("yellow", "base") !default;

@import 'materialize';
@import 'toastr';


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
