@import "materialize/components/color-variables";
$primary-color: color("light-blue", "darken-4") !default;
$secondary-color: color("yellow", "base") !default;

@import 'materialize';
@import 'toastr';


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h3 {
 color: #e65100;
}

h5 {
 color: #e65100;
}

hr {
 color: #e1f5fe;
}

.container {
  min-width: 92%;
  height: 100%;
}

.avatar-small {
  width: 50px;
}

.avatar-medium {
  width: 80px;
}

.mask {
  z-index: 99;
}

.row {
  margin-bottom: 0px !important;
}

#profile-page-header .card-image {
  height: 225px;
}
#profile-page-header .card-profile-image img {
  width: 75px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: inherit;
}

.collection {
  margin: .5rem 0 1rem 0;
  border: transparent !important;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
